@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://use.typekit.net/zst0kpr.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

nav {
  /* -webkit-mask-image: linear-gradient(to bottom, white 100%, transparent 100%); */
  mask-image: linear-gradient(to bottom, white 90%, transparent 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.example {
  font-family: "sora", sans-serif;
  font-variation-settings:
    "wght" 400,
    "wdth" 100;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  html {
    @apply text-xs;
  }

  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg;
  }

  h3,
  h4,
  h5 {
    @apply text-base;
  }
}
/* Tailwind base imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define color schemes */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Global body styles for light and dark mode */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Utility classes */
@layer utilities {
  /* Text wrapping and balance */
  .text-balance {
    text-wrap: balance;
  }

  /* Adjusting base HTML text size */
  html {
    @apply text-xs;
  }

  /* Styling headers */
  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg;
  }

  h3,
  h4,
  h5 {
    @apply text-base;
  }
}
