/* Feedback slide-out */
.toggle{
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.45s ease-out 0;
    position:fixed;
    top: 40vh;
    left: 0;
    cursor: pointer;
    width: fit-content;
}
#slide {
    display: none;
}

/* turn on the galleries and the about sections if you would like */
.gallery, .about, .dropdown-content, .incomplete-lesson, .reference-images, #video{
    display: none;
}

/* Show the dropdown on hover */
/* .dropdown:hover .dropdown-content {
    display: block;
} */

#fb-tab{
    writing-mode: vertical-lr;
    text-orientation:sideways;
    width: fit-content;
    padding: 1vw 0.7vw;
    background-color: #000;
    color: white;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}

#fb-form{
    position: fixed;
    top: 28vh;
    left: -300px; /* == -1* width, toggle-left [below]*/
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    width: 300px; /* == -1* left, toggle-left [below]*/
    height: 60vh;
    padding: 1vw;
    background: black; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.sidebar a:hover {
    color: rgba(0, 0, 0, 0.61);
    cursor: pointer;
}
  
#slide:checked + .fb-container .sidebar {
    left: 0px;
}
  
#slide:checked + .fb-container .toggle {
    left: 300px; /*== fb-form width*/
}



#fb-user-inputs-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

#fb-user-inputs-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    margin: 2vh 0.5vw;
}

#select-role {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2vh;
}

#role {
    border: 1px solid white;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}


#text-input {
    margin-top: 1vh;
    width: 100%;
    border-radius: 3%;
    height: 20vh;
    padding: 0.3vw;
    font-size: 14px;
}

#fb-survey-btn {
    border-radius: 1vh;
    background: #FF664F;
    height: 5vh;
    padding: 0 1vw;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-bottom: 2vh;
}

#fb-submit-btn {
    border-radius: 1vh;
    background: #7072EC;
    height: 4vh;
    padding: 0 1vw;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-bottom: 2vh;
}

.hide {
    position:absolute; 
    top:-1px; 
    left:-1px; 
    width:1px; 
    height:1px;
}